<div class="container_trip">
    <header>
        <div class="back" routerLink="/trip">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="viagem" *ngIf="viagem">
            {{viagem.origem}} → {{viagem.destino}}
        </div>
        <div class="share" (click)="shareTrip()">
            <i class="fa-solid fa-share-from-square"></i>
        </div>
    </header>

    <div class="trip_content">
        <form *ngIf="viagem" [formGroup]="dadosUpdate">
            <div class="form-group">
                <label for="cliente">Cliente</label>
                <input pInputText id="cliente" name="cliente" aria-describedby="username-help"
                    placeholder="Digite o nome do cliente"  [disabled]="!editTrip" formControlName="cliente" />
            </div>
            <div class="form-group">
                <label for="origem">Origem</label>
                <input pInputText id="origem" name="origem" aria-describedby="username-help"
                    placeholder="Digite a origem"  [disabled]="!editTrip"  formControlName="origem" />
            </div>
            <div class="form-group">
                <label for="destino">Destino</label>
                <input pInputText id="destino" name="destino" aria-describedby="username-help"
                    placeholder="Digite o destino"  [disabled]="!editTrip"  formControlName="destino" />
            </div>
            <div class="form-group">
                <label for="valor">Valor</label>
                <input pInputText id="valor" name="valor" formControlName="valor"  aria-describedby="username-help" currencyMask
                    [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"
                    placeholder="Digite o valor da viagem"  [disabled]="!editTrip"  />
            </div>
            <div class="data_hora">
                <div class="form-group">
                    <label for="data_incio">Data inicio</label>
                    <p-datepicker dateFormat="dd/mm/yy" formControlName="dataInicio" />

                </div>
                <div class="form-group">
                    <label for="data_fim">Data Fim</label>
                    <p-datepicker dateFormat="dd/mm/yy" formControlName="dataFim" />

                </div>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea rows="5" cols="30" name="descricao" pTextarea autoResize="none" [disabled]="!editTrip"
                    formControlName="descricao" placeholder="Digite algo..."></textarea>
            </div>

            <div class="btns">
                <button *ngIf="editTrip" (click)="tripsUpdate()">Salvar</button>
                <button *ngIf="editTrip">Excluir</button>
                <button *ngIf="!editTrip" (click)="toggleEdit()">Editar dados</button>
            </div>
        </form>
    </div>

</div>