<div class="container_trip" *ngIf="isMobile">
    <header>
        <div class="back" routerLink="/reports">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="viagem" *ngIf="registro">
            {{registro.tipo}}
        </div>
        <div class="share" (click)="shareTrip()">
            <i class="fa-solid fa-share-from-square"></i>
        </div>
    </header>

    <div class="trip_content">
        <form *ngIf="registro" [formGroup]="dadosUpdate">
            <div class="form-group">
                <label for="viagem">Viagem</label>
                <input pInputText id="viagem_nome" name="viagem_nome" formControlName="viagem_nome"
                    aria-describedby="username-help" placeholder="Data de Início" />
            </div>
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <p-select [options]="registroTipo" optionLabel="Tipo" placeholder="Selecione o tipo do registro"
                    class="w-full md:w-56" formControlName="tipo" />
            </div>
            <div class="data_hora">
                <div class="form-group">
                    <label for="data_inicio">Data</label>
                    <input pInputText id="data_inicio" name="data_inicio" mask="00/00/0000" formControlName="data"
                        aria-describedby="username-help" placeholder="Data de Início" />
                </div>
                <div class="form-group">
                    <label for="data_fim">Hora</label>
                    <input pInputText id="data_fim" name="data_fim" aria-describedby="username-help"
                        formControlName="hora" placeholder="Hora de Fim" />
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea rows="5" cols="30" name="descricao" formControlName="descricao" pTextarea autoResize="none"
                    placeholder="Digite algo..."></textarea>
            </div>
            <div class="form-group">
                <label>Fotos</label>
                <div class="photos">
                    <div class="img">
                        <img src="https://t3.ftcdn.net/jpg/05/15/12/60/360_F_515126051_S5td5PvQQUkbeqaNHS6z8xW5rH7DEQ3K.jpg"
                            alt="">
                        <div class="delete" *ngIf="editReport">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btns">
                <button *ngIf="editReport" (click)="reportUpdate()">Salvar</button>
                <button *ngIf="editReport">Excluir</button>
                <button *ngIf="!editReport" (click)="editar()">Editar dados</button>
            </div>
        </form>


    </div>

</div>



<p-dialog [(visible)]="showDialog" [draggable]="false" (onHide)="redirecionar()" [resizable]="false" [modal]="true"
    [closable]="true" [dismissableMask]="true" styleClass="meu_dialo3">

    <ng-template #header>
        <div class="flex justify-between items-center w-full">
            <div class="viagem" *ngIf="registro">
                Detalhes do registro
            </div>

        </div>
    </ng-template>

    <ng-container *ngIf="registro">
        <form [formGroup]="dadosUpdate" class="form-desk">
            <div class="form-group">
                <label for="viagem">Viagem atual</label>
                <input pInputText id="viagem_nome" name="viagem_nome" formControlName="viagem_nome"
                    aria-describedby="username-help" />
            </div>
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <p-select [options]="registroTipo" optionLabel="Tipo" placeholder="Selecione o tipo do registro"
                    class="w-full md:w-56" formControlName="tipo" />
            </div>
            <div class="data_hora">
                <div class="form-group">
                    <label for="data_inicio">Data</label>
                    <input pInputText id="data_inicio" name="data_inicio" mask="00/00/0000" formControlName="data"
                        aria-describedby="username-help" placeholder="Data de Início" />
                </div>
                <div class="form-group">
                    <label for="data_fim">Hora</label>
                    <input pInputText id="data_fim" name="data_fim" aria-describedby="username-help"
                        formControlName="hora" placeholder="Hora de Fim" />
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea rows="5" cols="30" name="descricao" formControlName="descricao" pTextarea autoResize="none"
                    placeholder="Digite algo..."></textarea>
            </div>
            <div class="btns">
                <button *ngIf="editReport" (click)="reportUpdate()">Salvar</button>
                <button *ngIf="editReport" (click)="delete($event, registro)">Excluir</button>
                <button *ngIf="!editReport" (click)="editar()">Editar dados</button>
            </div>
        </form>
    </ng-container>
</p-dialog>