<div class="container_viagens">
    <div class="viagens_header">
        <span>
            <span class="title">Todas as viagens</span>
            {{viagens.length}}
        </span>

        <div class="acoes">
            <div class="search">
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input type="text" pInputText placeholder="Search" (input)="applyFilterGlobal($event)" />
                </p-iconfield>
            </div>
            <p-overlaybadge [value]="selectedFilters.length" *ngIf="selectedFilters.length">
                <div class="atalho-btn filter" (click)="openFilter()" [ngClass]="{'openFilter': filter}">
                    <i class="pi pi-filter"></i>
                    <span>Filtro</span>
                    <div class="filter_content" *ngIf="filter">
                        <nav class="filter_nav">
                            <ul class="filter_list">
                                <li class="filter_item" (click)="toggleFilter('A a Z')">
                                    <a class="filter_link" [class.active]="selectedFilters.includes('A a Z')">A a Z</a>
                                </li>
                                <li class="filter_item" (click)="toggleFilter('Z a A')">
                                    <a class="filter_link" [class.active]="selectedFilters.includes('Z a A')">Z a A</a>
                                </li>
                                <li class="filter_item" (click)="toggleFilter('Primeiro até o último')">
                                    <a class="filter_link"
                                        [class.active]="selectedFilters.includes('Primeiro até o último')">Primeiro até
                                        o último</a>
                                </li>
                                <li class="filter_item" (click)="toggleFilter('Último até o primeiro')">
                                    <a class="filter_link"
                                        [class.active]="selectedFilters.includes('Último até o primeiro')">Último até o
                                        primeiro</a>
                                </li>
                                <li class="filter_item" (click)="toggleFilter('Valores: maior para menor')">
                                    <a class="filter_link"
                                        [class.active]="selectedFilters.includes('Valores: maior para menor')">Valores:
                                        maior para menor</a>
                                </li>
                                <li class="filter_item" (click)="toggleFilter('Valores: menor para maior')">
                                    <a class="filter_link"
                                        [class.active]="selectedFilters.includes('Valores: menor para maior')">Valores:
                                        menor para maior</a>
                                </li>
                                <li class="filter_item" (click)="toggleFilter('Concluídas')">
                                    <a class="filter_link"
                                        [class.active]="selectedFilters.includes('Concluídas')">Concluídas</a>
                                </li>
                                <li class="filter_item" (click)="toggleFilter('Em andamento')">
                                    <a class="filter_link" [class.active]="selectedFilters.includes('Em andamento')">Em
                                        andamento</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </p-overlaybadge>

            <div class="atalho-btn filter" (click)="openFilter()" [ngClass]="{'openFilter': filter}"
                *ngIf="!selectedFilters.length">
                <i class="pi pi-filter"></i>
                <span>Filtro</span>
                <div class="filter_content" *ngIf="filter">
                    <nav class="filter_nav">
                        <ul class="filter_list">
                            <li class="filter_item" (click)="toggleFilter('A a Z')">
                                <a class="filter_link" [class.active]="selectedFilters.includes('A a Z')">A a Z</a>
                            </li>
                            <li class="filter_item" (click)="toggleFilter('Z a A')">
                                <a class="filter_link" [class.active]="selectedFilters.includes('Z a A')">Z a A</a>
                            </li>
                            <li class="filter_item" (click)="toggleFilter('Primeiro até o último')">
                                <a class="filter_link"
                                    [class.active]="selectedFilters.includes('Primeiro até o último')">Primeiro até o
                                    último</a>
                            </li>
                            <li class="filter_item" (click)="toggleFilter('Último até o primeiro')">
                                <a class="filter_link"
                                    [class.active]="selectedFilters.includes('Último até o primeiro')">Último até o
                                    primeiro</a>
                            </li>
                            <li class="filter_item" (click)="toggleFilter('Valores: maior para menor')">
                                <a class="filter_link"
                                    [class.active]="selectedFilters.includes('Valores: maior para menor')">Valores:
                                    maior para menor</a>
                            </li>
                            <li class="filter_item" (click)="toggleFilter('Valores: menor para maior')">
                                <a class="filter_link"
                                    [class.active]="selectedFilters.includes('Valores: menor para maior')">Valores:
                                    menor para maior</a>
                            </li>
                            <li class="filter_item" (click)="toggleFilter('Concluídas')">
                                <a class="filter_link"
                                    [class.active]="selectedFilters.includes('Concluídas')">Concluídas</a>
                            </li>
                            <li class="filter_item" (click)="toggleFilter('Em andamento')">
                                <a class="filter_link" [class.active]="selectedFilters.includes('Em andamento')">Em
                                    andamento</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="atalho-btn exxport" *ngIf="selectedViagem.length > 0" (click)="showDialog()">
                <i class="pi pi-file-export"></i>
                Exportar
            </div>
            <div class="atalho-btn details" *ngIf="selectedViagem.length > 0 && selectedViagem.length < 2"
                (click)="openViagem(selectedViagem)">
                <i class="pi pi-info-circle
                "></i>
                Detalhes
            </div>
            <div class="atalho-btn delete" *ngIf="selectedViagem.length > 0" (click)="delete($event, selectedViagem)">
                <i class="pi pi-trash"></i>
                Delete
            </div>
            <div class="btn_new_viagem" (click)="createTrip()">
                <i class="pi pi-plus"></i>
                Add Viagem
            </div>


        </div>

    
    </div>


    <div class="viagens_table">
        <p-table #dt1 [value]="filteredViagens" [paginator]="true" [totalRecords]="100" [rows]="10"
            [(selection)]="selectedViagem" dataKey="id" [tableStyle]="{'min-width': '50rem'}"
            [globalFilterFields]="['cliente', 'origem', 'destino', 'data_inicio', 'data_fim', 'status']">
            <ng-template #header>
                <tr>
                    <th class="checkbox"><p-tableHeaderCheckbox /></th>
                    <th class="clientes">Clientes</th>
                    <th class="colunm origem">Origem</th>
                    <th class="colunm destino">Destino</th>
                    <th class="colunm dataInicio">Data Inicio</th>
                    <th class="colunm dataFim">Data Fim</th>
                    <th class="colunm status">Status</th>
                </tr>
            </ng-template>
            <ng-template #body let-viagem>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="viagem" />
                    </td>
                    <td class="clientes">{{viagem.cliente}}</td>
                    <td class="origem">{{viagem.origem}}</td>
                    <td class="destino">{{viagem.destino}}</td>
                    <td class="dataInicio">{{viagem.dataInicio}}</td>
                    <td class="dataFim">{{viagem.dataFim}}</td>
                    <td class="status"><p-tag [severity]="viagem.status === 'Concluída' ? 'success' : 'warn'"
                            [value]="viagem.status" /></td>

                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">Nenhuma viagem encontrada.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <div class="viagens_mobile">
        <div class="viagem" *ngFor="let viagem of filteredViagens" (click)="openViagemMobile(viagem)">
            <span class="cliente">{{viagem.cliente}}</span>

            <div class="viagem_dados">
                <span id="viagem">{{viagem.origem}} → {{viagem.destino}}</span>
                <span>
                    <p-tag [severity]="viagem.status === 'Concluída' ? 'success' : 'warn'" [value]="viagem.status" />
                </span>
            </div>
        </div>

        <div class="link criar" routerLink="/createTrip">
            <i class="fa-solid fa-plus"></i>
        </div>

        <div *ngIf="filteredViagens.length === 0">
            Nenhuma viagem encontrada.
        </div>
    </div>
</div>

<p-dialog header="Selecione o Formato de Exportação" [(visible)]="displayDialog" [style]="{width: '400px'}"
    styleClass="meu_dialog" [modal]="true" draggable="false">
    <div class="select">
        <p-selectButton [options]="exportOptions" [(ngModel)]="selectedFormat"></p-selectButton>
    </div>
    <ng-template pTemplate="footer">
        <button id="cancel">Cancelar</button>
        <button id="exportar" (click)="export()">Exportar</button>
    </ng-template>
</p-dialog>





<app-create-trips></app-create-trips>
<p-confirmdialog />