<div class="container-login">
    <div class="login">
        <div class="login_content">
            <div class="login_inform">
                <div class="login_title">Entrar</div>
                <div class="login_desc">Por favor, ensira seus dados</div>
            </div>

            <form>
                <div class="form-group">
                    <i class="pi pi-user"></i>
                    <input type="email" class="form-control" id="email" placeholder="Usuário">
                </div>

                <div class="form-group">
                    <i class="pi pi-lock"></i>
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="email"
                        placeholder="Senha">
                    <i class="pi" [ngClass]="{'pi-eye': showPassword, 'pi-eye-slash': !showPassword}"
                        (click)="toggleShowPassword()"></i>
                </div>
            </form>

            <div class="user">
                <div class="checkbox">
                    <p-checkbox formControlName="city" value="New York" inputId="lembre" />
                    <label for="lembre" class="ml-2">Lembre-me</label>
                </div>

                <a href="" class="forgot">Esqueci minha senha</a>
            </div>

            <button class="login_btn"> Entrar </button>
        </div>
    </div>
</div>