<div class="container-slide" [class.open]="isOpen">
    <div class="first">
        <div class="logo">
            <span>Painel Admin</span>
            <i class="fa-solid fa-x" (click)="close()"></i>
        </div>
        <div class="links">
            <span class="link" [ngClass]="{'active': isActive('/dashboard')}" routerLink="/dashboard">
                <div class="icon">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                </div>
                <span>Dashboard</span>
            </span>
            <span class="link" [ngClass]="{'active': isActive('/trip')}" routerLink="/trip">
                <div class="icon">
                    <i class="fa-solid fa-road"></i>
                </div>

                <span>Viagens</span>
            </span>
            <span class="link" [ngClass]="{'active': isActive('/reports')}" routerLink="/reports">
                <div class="icon">
                    <i class="fa-solid fa-book"></i>
                </div>

                <span>Registros</span>
            </span>
        </div>
    </div>


    <div class="account" *ngIf="user">
        <div class="avatar">
            <img [src]="user.photo" alt="">
        </div>
            <span class="name">{{user.name}}</span>
    </div>
</div>
