<div class="container-home">
    <div class="margin-site">
        <header>
            <div class="logo">
                <img src="/img/logo.png" alt="">
            </div>
            <nav>
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Planos e preços</a></li>
                    <li><a href="">Contral de Ajuda</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </nav>
            <a href="/login" class="entrar">Entrar</a>
        </header>


        <section class="first-section">
            <div class="informs">
                <h1>Tecnologia avançada em controle de bordo de suas viagens</h1>
                <p>Acompanhe de forma detalhada e em tempo real todas as informações das suas viagens, incluindo
                    registros,
                    rotas, despesas e desempenho, garantindo mais controle e organização no seu dia a dia.</p>
                <div class="btns">
                    <button>Teste gratís</button>
                    <button>Planos e preços</button>
                </div>
            </div>

            <div class="img">
                <img src="/img/background-expo.svg" alt="">
            </div>
        </section>

        <section class="second-section">
            <h1>Otimize seu processo operacional <br> com o [NAME]</h1>
            <div class="informs">
                <div class="inform">
                    <p>Acompanhe jornadas, verifique marcações e realize ajustes sempre que necessário em tempo real.
                        Primeiros Passos</p>
                    <button>Primeiros passos</button>
                </div>

                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pB5E4QzIeCs?si=v2uwLVHhwWTkcY6I"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </section>
        

       
    </div>
</div>