<p-dialog [(visible)]="display" [modal]="true" [draggable]="false" [resizable]="false" header="Criar Viagem" (onHide)="redirecionar()"
    styleClass="meu_dialo2">

    <form [formGroup]="dadosCadastroTrips">
        <div class="form-group">
            <label for="cliente">Cliente</label>
            <input pInputText id="cliente" aria-describedby="username-help" placeholder="Digite o nome do cliente"
                formControlName="cliente" />
        </div>
        <div class="form-group">
            <label for="origem">Origem</label>
            <input pInputText id="origem" aria-describedby="username-help" placeholder="Digite a origem"
                formControlName="origem" />
        </div>
        <div class="form-group">
            <label for="destino">Destino</label>
            <input pInputText id="destino" aria-describedby="username-help" placeholder="Digite o destino"
                formControlName="destino" />
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <p-inputNumber formControlName="valor" mode="currency" currency="BRL" locale="pt-BR" [minFractionDigits]="2"
                [maxFractionDigits]="2" placeholder="Digite o valor" placeholder="R$: 00,00"></p-inputNumber>

        </div>
        <div class="data_hora">
            <div class="form-group">
                <label for="data">Data inicio</label>
                <p-datepicker inputmode="numeric"  dateFormat="dd/mm/yy" formControlName="dataInicio" showOnFocus="false"
                showIcon="true"/>

            </div>
            <div class="form-group">
                <label for="data">Data Fim</label>
                <p-datepicker inputmode="numeric"  dateFormat="dd/mm/yy" formControlName="dataFim" showOnFocus="false"
                showIcon="true"/>


            </div>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea rows="5" cols="30" pTextarea autoResize="none" placeholder="Digite algo..."
                formControlName="descricao"></textarea>
        </div>
        <div class="btns">
            <button (click)="closeDialog()">Cancelar</button>
            <button [disabled]="dadosCadastroTrips.invalid" (click)="createTrip()">Criar</button>
        </div>
    </form>

</p-dialog>