<div class="container-dashboard">
    <div class="cards-atalho card">
        <div class="atalho">
            Atalhos rápidos

            <div class="atalhos">
                <div class="criar-registro" (click)="criarRegistro()">
                    <i class="fa-solid fa-circle-plus"></i>
                    Criar Registro
                </div>
                <div class="criar-relatorio" (click)="criarViagem()">
                    <i class="fa-solid fa-circle-plus"></i>
                    Criar Viagem
                </div>
                <div class="exportar">
                    <i class="fa-solid fa-file-export"></i>
                    Exportar
                </div>
            </div>
        </div>


        <div class="card_faturamento ">
            Faturamento

            <div class="faturamento">
                <div class="circle">
                    <div class="text">
                        <span>Referente: {{ mesAtual.toString().padStart(2, '0') }}/{{ anoAtual }}</span>
                        <span class="valor">{{formatarDinheiro(faturamento)}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="cards-report card">
        <div class="ultima_viagem">
            Ultimo registro

            <div class="registros">
                <div class="registro" *ngIf="ultimoRegistro" (click)="openRegistro(ultimoRegistro)">
                    <span class="cliente">{{ultimoRegistro.tipo}}</span>
                    <span class="origem_destino">{{ultimoRegistro.data}}</span>
                    <span class="valor">{{ultimoRegistro.hora}}</span>
                </div>

                <span class="zero_inform" *ngIf="!ultimoRegistro">Nenhum registro foi encontrado</span>
            </div>

            <div class="see-more">
                <span routerLink="/reports">Ver tudo <i class="fa-solid fa-chevron-right"></i></span>
            </div>
        </div>
        <div class="ultima_imagem">
            <span id="title_photo">Ultima foto</span>

            @if(ultimoRegistro){
            <div class="foto"><img [src]="ultimoRegistro.foto[0]" alt=""
                    (click)="openFullScreenImage(ultimoRegistro.foto[0])"></div>
            } @else {
            <span class="zero_inform">Nenhum registro foi encontrado</span>

            }
        </div>
    </div>
    <div class="card_viagem card">
        <span>Histórico de Viagens</span>

        <div class="viagens" *ngIf="viagens.length > 0">
            <div class="viagem" *ngFor="let viagem of viagens" (click)="openViagem(viagem)">
                <span class="cliente">{{viagem.cliente}}</span>
                <span class="origem_destino">{{viagem.origem}}/{{viagem.destino}}</span>
                <span class="valor">{{formatarDinheiro(viagem.valor)}}</span>
            </div>
        </div>
        <span class="zero_inform" *ngIf="viagens.length <= 0">Nenhum registro foi encontrado</span>

        <div class="see-more">
            <span routerLink="/trip">Ver tudo <i class="fa-solid fa-chevron-right"></i></span>
        </div>

    </div>
</div>

<p-dialog [(visible)]="showDialog" [draggable]="false" [resizable]="false" [modal]="true" [closable]="true"
    [dismissableMask]="true" styleClass="meu_dialo3" [style]="{width: '50vw'}" (onHide)="redirecionar()">

    <ng-template #header>
        <div class="flex justify-between items-center w-full">
            <div class="viagem" *ngIf="viagemDetails">
                Detalhes viagem {{viagemDetails.origem}} → {{viagemDetails.destino}}
            </div>

        </div>
    </ng-template>

    <ng-container *ngIf="viagemDetails">
        <form [formGroup]="dadosUpdate" class="form-desk">
            <div class="form-group">
                <label for="cliente">Cliente</label>
                <input pInputText id="cliente" name="cliente" aria-describedby="username-help"
                    placeholder="Digite o nome do cliente" formControlName="cliente" />
            </div>
            <div class="form-group">
                <label for="origem">Origem</label>
                <input pInputText id="origem" name="origem" aria-describedby="username-help"
                    placeholder="Digite a origem" formControlName="origem" />
            </div>
            <div class="form-group">
                <label for="destino">Destino</label>
                <input pInputText id="destino" name="destino" aria-describedby="username-help"
                    placeholder="Digite o destino" formControlName="destino" />
            </div>
            <div class="form-group">
                <label for="valor">Valor</label>
                <p-inputNumber formControlName="valor" mode="currency" currency="BRL" locale="pt-BR"
                [minFractionDigits]="2" [maxFractionDigits]="2" placeholder="Digite o valor"
                placeholder="R$: 00,00"></p-inputNumber>
            </div>
            <div class="data_hora">
                <div class="form-group">
                    <label for="data_incio">Data inicio</label>
                    <p-datepicker forceNumericKeyboard  dateFormat="dd/mm/yy" formControlName="dataInicio" showOnFocus="false"
                    showIcon="true"/>
                </div>
                <div class="form-group">
                    <label for="data_fim">Data Fim</label>
                    <p-datepicker forceNumericKeyboard  dateFormat="dd/mm/yy" formControlName="dataFim" showOnFocus="false"
                    showIcon="true"/>
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea rows="5" cols="30" name="descricao" pTextarea autoResize="none" formControlName="descricao"
                    placeholder="Digite algo..."></textarea>
            </div>
            <div class="btns">
                <button *ngIf="editTrip" (click)="tripsUpdate()">Salvar</button>
                <button *ngIf="editTrip" (click)="delete($event, viagemDetails)">Excluir</button>
                <button *ngIf="!editTrip" (click)="editar()">Editar dados</button>
            </div>
        </form>
    </ng-container>
</p-dialog>


<app-create-trips></app-create-trips>
<app-create-reports></app-create-reports>


<div class="full-screen-image" *ngIf="fullScreenImageUrl">
    <div class="btn-atalho close" (click)="closeFullScreenImage()" style="display: grid; top: 20px; right: 10px; width: 30px;
    height: 30px;">
        <i class="fa-solid fa-x" style="color: white; font-size: 16px; "></i>
    </div>
    <div class="btn-atalho baixar" (click)="downloadImage(fullScreenImageUrl)" style="display: grid; top: 20px; right: 50px; width: 30px;
    height: 30px;">
        <i class="fa-solid fa-download" style="color: white; font-size: 16px; "></i>
    </div>
    <img [src]="fullScreenImageUrl" alt="Full screen image">
</div>