<div class="container-slide" >
    <div class="links">
        <div class="link" routerLink="/dashboard">
            <i class="fas fa-home"></i>
            Inicio
        </div>
        <div class="link" routerLink="/reports">
            <i class="fa-solid fa-book"></i>
            Registros
        </div>
        <div class="link" routerLink="/trip">
            <i class="fa-solid fa-road"></i>
            Viagens
        </div>
        <div class="link" routerLink="/account">
            <i class="fa-solid fa-user"></i>
            Perfil
        </div>
    </div>
</div>
