<div class="container-slide">
    <div class="links">
        <div class="link" routerLink="/dashboard">
            <i class="fas fa-home"></i>
        </div>
        <div class="link" routerLink="/search">
            <i class="fas fa-search"></i>
        </div>
        <div class="link criar">
            <i class="fa-solid fa-circle-plus"></i>
            Criar
        </div>
        <div class="link" routerLink="/trips">
            <i class="fa-solid fa-road"></i>
        </div>
        <div class="link" routerLink="/reports">
            <i class="fa-solid fa-book"></i>
        </div>
    </div>
</div>